* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.to-do-wrap {
  margin: 10rem auto;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.title-wrap {
  padding: 1rem;
  text-align: center;
  background-color: #f2f2f2;
}

.input {
  display: grid;
  grid-template-columns: 1fr 50px;
  background-color: #f2f2f2;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem;
}

input {
  font-style: italic;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 1rem;
}

.active {
  text-decoration: line-through;
}

.input-task {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.fa-circle-plus {
  font-size: 1.2rem;
  color: #666;
}

.to-do-list {
  margin: 1rem;
}

.dynamic-Elements {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.dynamic-Elements > p {
  padding-top: 10px;
  font-size: 1.2rem;
}

.clr-btn > button {
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  height: 4rem;
  font-size: 1.2rem;
  background-color: #0429fc;
  color: #fff;
  transition: background-color 0.3s ease;
}

.clr-btn > button:hover {
  background-color: #003eff;
}

.task-layout {
  border: none;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remove-task {
  width: 80px;
  height: 40px;
  border: none;
  background-color: #ff4747;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-task:hover {
  background-color: #e53a3a;
}
